* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1e1e1e;
}
h5 {
  position: relative;
}
h1 {
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  color: #3f3f3f;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.8em;
  outline: none;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    color: #3f3f3f;
  }
  70% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4,
      0 0 120px #03bcf4, 0 0 160px #03bcf4;
  }
}
